# before install 
#    cuda-tool-kits, 
#    cuDNN 7.x.x
#    libgpuarray 7.2 (pygpu)
numpy==1.16.4
pycuda 
scikit-cuda
pygpu 
mkl 
bode 
sphinx 
pydot-ng 
parameterized 
scipy 
sklearn 
pillow 
matplotlib 
h5py
https://github.com/Theano/Theano/archive/master.zip
https://github.com/Lasagne/Lasagne/archive/master.zip 