numpy==1.22.0
mkl
bode 
sphinx 
pydot-ng 
parameterized 
scipy 
sklearn 
pillow 
matplotlib 
h5py
https://github.com/Theano/Theano/archive/master.zip
https://github.com/Lasagne/Lasagne/archive/master.zip 